/* (C) Albert Mietus, 2026 Extra CSS settings for (SoftwareCompetence/)CodeAI*/

img.codeai-head { /* use lowecase!*/
    margin-left: -1em;
    margin-top: -24px;
    with: 100%;

}

.rst-content h1 {
    color: #000066; background-color: #e7f2fa;
    font-size: 200%;
    margin-top:0;

}

/*
  ScenerySketching:: CodeAI
  - scenerysketching sidebar
  - Also see, DRAF template for oder
*/

.rst-content aside.sidebar-scenerysketching  {
    max-width:30%; width: auto;
    clear: right;
    padding:0;
    margin-top:0;
    margin-bottom:0;
}
.rst-content aside.sidebar-scenerysketching  .sidebar-title {
    margin: 0; /*Reset default*/
}

.rst-content aside.sidebar-scenerysketching p {
    padding-left: 1ex;
    margin: 0 0 1ex;
}
